@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

    --font-poppins: 'Poppins';
    
    --color-text: hsl(226, 57%, 21%);   
    --color-background:  hsl(240, 60%, 99%);
    --color-primary: hsl(224, 68%, 43%);
    --color-secondary: hsl(213, 97%, 87%);
    --color-accent: hsl(198, 93%, 60%);

    --color-dark-text: hsl(213, 97%, 87%);
    --color-dark-background: oklch(14.5% 0 0);
    --color-dark-primary: hsl(229, 86%, 51%);
    --color-dark-secondary: hsl(213, 94%, 68%);
    --color-dark-accent:   hsl(240, 100%, 16%);
}
