@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {

    --font-poppins: 'Poppins';

    --color-text: hsl(243, 76%, 5%);
    --color-background: hsl(240, 60%, 99%);
    --color-primary: hsl(243, 68%, 48%);
    --color-secondary: hsl(243, 100%, 93%);
    --color-accent: hsl(242, 100%, 62%);

    --color-dark-text: hsl(243, 76%, 95%);
    --color-dark-background: hsl(240, 60%, 1%);
    --color-dark-primary: hsl(243, 68%, 52%);
    --color-dark-secondary: hsl(243, 100%, 7%);
    --color-dark-accent: hsl(242, 100%, 38%);

}
